@import "../../../css/styles.scss";

.footer__container{
    @include flex-settings(column, flex-start, center);
    padding: px-to-rem(32px) 0px px-to-rem(30px) 0;
    border-bottom: 1px solid #5674b9;
    .footer__logo{
        width: px-to-rem(134px);
        height: px-to-rem(24px);
        margin-bottom: px-to-rem(14px);
    }
    ul{
      @include flex-settings(column, flex-start, center);
      list-style: none;
      li{
        margin-bottom: px-to-rem(8px);
        &:last-child{
            margin-bottom: 0;
        }
      }
      a{
          text-decoration: none;
          font-family: "Source Sans Pro";
          font-weight: 400;
          font-size: px-to-rem(16px);
          line-height: px-to-rem(18px);
          color: white;
          &:hover{
            color: $main-color;
          }
      }
    }
}
@media (min-width: 768px){
    .footer__container{
        flex-direction: row;
        justify-content: space-between;
        padding: px-to-rem(30px) px-to-rem(25px) px-to-rem(28px) px-to-rem(22px);
        .footer__logo{
            margin-bottom: 0px;
        }
        ul{
            flex-direction: row;
            justify-content: space-between;
            li{
                margin-right: px-to-rem(28px);
                line-height: px-to-rem(25px);
                margin-bottom: 0px;
                &:last-child{
                    margin-right: 0;
                }
        }
    }
 }
}
@media (min-width: 1024px){
    .footer__container{
        padding: px-to-rem(30px) px-to-rem(50px) px-to-rem(28px) px-to-rem(47px);
    }
}
@media (min-width: 2400px){
    .footer__container{
        padding: px-to-rem(26px) px-to-rem(12px) px-to-rem(28px) px-to-rem(21px);
    }
}